<!DOCTYPE html>
<html>
<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	{{! Page Meta }}
	<title>{{meta_title}}</title>

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">

	{{! Styles'n'Scripts }}
	<script src="{{asset "js-build/jquery.js"}}"></script>
	<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/style-custom.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/icomoon.css"}}" />
	<link rel="stylesheet" href="{{asset "css-build/animate.css"}}" type='text/css'>
	<link href='{{asset "css-build/fonts.css"}}' rel='stylesheet' type='text/css'>
	{{! Google fonts goes here }}
	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>

<body class="{{body_class}}">
	<!--[if lt IE 10]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	{{! Everything else gets inserted here }}
	{{{body}}}

	{{! Ghost outputs important scripts and data with this tag }}
	{{ghost_foot}}

	{{! The main JavaScript file for Casper }}
	<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/index.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/typed.js"}}"></script>

</body>
</html>
