{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="container-fluid content fadeIn animated">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="hidden">{{@blog.title}}</h1>

			<div class="title-container">
				<h1 class="fadeInDown animated title"></h1>
			</div><!-- /.title -->

			<hr>

			<div class="col-lg-12 full-column">
				<p>The thinkerings of Eric Schultz, a software developer and free, libre and open source software advocate in Wisconsin.</p>
			</div><!-- /.col -->

			<div class="col-lg-12 full-column">
				<p>
					Follow him on <a href="http://twitter.com/wwahammy" target="_blank" class="button twitter">Twitter</a>,
					<a href="http://github.com/ericschultz" target="_blank" class="button github">Github</a>,
					<a href="https://www.linkedin.com/in/wwahammy" target="_blank" class="button linkedin">LinkedIn</a>
					or read some posts:
				</p>
			</div><!-- /.col -->

			<div class="col-lg-12 full-column">
				 <h2>Posts</h2>

				<hr class="tiny">

			<!--	<div class="post-list">
					{{#foreach posts}}
						<div class="post-item">
							<a href="{{url}}" class="button dark">{{title}}</a>
							<p>{{excerpt}}</p>
							<p>{{date}}</p>
						</div>
					{{/foreach}}
			  </div>--><!-- /.post-list -->
					<div class="row">
						<div class="col-sm-12">
							{{! The tag below includes the post loop - partials/loop.hbs }}
								{{> "postloop"}}
							</div>
				</div>


			</div>
			{{> "footer"}}
			<!-- /.col -->
		</div><!-- /.col -->


	</div><!-- /.row -->
</div>



<script>
// @license magnet:?xt=urn:btih:5305d91886084f776adcf57509a648432709a7c7&dn=x11.txt x11
	$(function(){
		$(".title").typed({
			strings: ["{{@blog.description}}"],
			typeSpeed: 60,
			showCursor: true,
			startDelay: 600
		});
	});
	// @license-end
</script>
