{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<div class="container single">
    <div class="fixed-logo animated fadeInDown">
        <a href="{{@blog.url}}">
            <img class="lgo" src="{{asset "images/logo.svg"}}">
            <img class="arrow" src="{{asset "images/arrow.png"}}">
        </a>
    </div><!-- /.fixed-logo -->

    <div class="rwd-menu">
        <a class="arrow" href="{{@blog.url}}">
            <img src="{{ asset "images/arrow.png"}}">
        </a>

        <a class="lgo" href="{{@blog.url}}">
            <img src="{{asset "images/logo.svg"}}">
        </a>
    </div><!-- /.rwd-menu -->

    <div class="row animated bounceInUp">
        <div class="col-lg-12 single-inner">
            <h1>{{title}}</h1>
            <hr class="title-hr">
            {{content}}
    </div><!-- /.row -->
</div><!-- /.container -->
{{/post}}
