{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<div class="container single">
    <div class="fixed-logo animated fadeInDown">
        <a href="{{@blog.url}}">
            <img class="lgo" src="{{asset "images/logo.svg"}}">
            <img class="arrow" src="{{asset "images/arrow.png"}}">
        </a>
    </div><!-- /.fixed-logo -->

    <div class="rwd-menu">
        <a class="arrow" href="{{@blog.url}}">
            <img src="{{ asset "images/arrow.png"}}">
        </a>

        <a class="lgo" href="{{@blog.url}}">
            <img src="{{asset "images/logo.svg"}}">
        </a>
    </div><!-- /.rwd-menu -->

    <div class="row animated bounceInUp">
        <div class="col-lg-12 single-inner">
            <h1>{{title}}</h1>
            <h3>{{author.name}} // {{date}}</h3>
            <hr class="title-hr">
            {{content}}

            <hr class="tiny"/>
            <div class="comments">
                <p>If you'd like to share your opinion, please email or Twitter me.</p>
            </div><!-- /.comments -->
    </div><!-- /.row -->
    {{> footer}}
</div><!-- /.container -->

{{/post}}
